body{
   margin: 0;
   padding:0;
   min-height: 100vh;
   background-color: #051129;
  background-repeat: no-repeat;
}
.header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.logo{
  color:cyan;
  font-size:25px;
  font-family: Georgia,Sans-Serif;
}
a{
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
}
a:hover{
  transform: scale(1.2);
  color:white;
  border:2px solid cyan;
  border-radius:7px;
}
.hero{
  background:linear-gradient(135deg, #000000, #0f2027 , #00c6ff);
  text-align: center;
  align-items: center;
  padding:20px;
  gap:30px;
  color:white;
  
}
 .name{
  font-size: 40px;
  text-align: center;
  font-family: Georgia,Sans-Serif;
  animation:slideleft 2s forwards;
}
@keyframes slideleft{
  from{
    opacity: 0;
    transform:translateX(-300px);
  }
  to{
    opacity: 1;
    transform:translateX(0);
  }
}
.intro{
  font-size: 30px;
  text-align: center;
  color:cyan;
  font-family: Georgia,Sans-Serif;
  animation:slideright 2s forwards;
}
@keyframes slideright{
  from{
    opacity: 0;
    transform:translateX(300px);
  }
  to{
    opacity: 1;
    transform:translateX(0);
  }
}
.text{
  font-size:10px;
  text-align: center;
  animation:slideleft 2s forwards;
}
@keyframes slideleft{
  from{
    opacity: 0;
    transform:translateX(-300px);
  }
  to{
    opacity: 1;
    transform:translateX(0);
  }
}
  .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    align-content: center;
    flex-wrap: nowwrap;
  }
.social img{
  height:20px;
  width:20px;
  margin: 10px;
}
button{
  background-color: cyan;
  border:1px solid black;
  border-radius:10px;
  color:black;
  height:40px;
  margin-top:3px;
  margin-left:8px;
}
button:hover{
  transform: scale(1.2);
}
#about{
  background:linear-gradient(135deg,#004e92, #0f2027, #000000);
  backdrop-filter: blur(10px);
  border:2px outset cyan;
  max-width:150%;
  margin:auto;
  margin-top:20px;
}
.auto{
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
h4{
  color:white;
  font-size:20px;
  text-align: center;
}
.about-text{
  color:cyan;
  text-transform: uppercase;
  text-align: center;
  font-family: Georgia,Sans-Serif;
}
 #about img{
  height:40%;
  width:40%;
  border:1px solid lightblue;
  margin-left:10px;
  box-shadow: 0px 0px 25px cyan;
 animation:slideLeft 1s ease;
}
@keyframes slideLeft{
 from{
   opacity:0;
   transform:translateX(-100px);
 }
 to{
   opacity:1;
   transform:translateX(0);
 }
}
.about img:hover{
 transform:scale(1.05);
 box-shadow:0 0 20px cyan;
}
.aboutme{
  color:white;
  margin-top:20px;
  font-size:15px;
  width:90%;
  margin-left:30px;
  text-align:center;
  font-family: arial,Sans-Serif;
  animation:slideup 1s forwards;
}
@keyframes slideup{
  from{
    opacity: 0;
    transform:translateY(50px);
  }
  to{
    opacity: 1;
    transform:translateY(0);
  }
}
.education{
  color:white;
  text-align: center;
  font-size:15px;
  margin-top:20px;
  padding:20px;
   font-family: arial,Sans-Serif;
   background:linear-gradient(135deg, #000000, #0f2027 , #00c6ff);
   animation:slideup 1s forwards;
}
@keyframes slideup{
  from{
    opacity: 0;
    transform:translateY(50px);
  }
  to{
    opacity: 1;
    transform:translateY(0);
  }
}
h2{
  color:cyan;
  text-align: center;
  text-transform:uppercase;
  font-family: Georgia,Sans-Serif;
  font-size:20px;
}
h3{
  color:cyan;
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia,Sans-Serif;
  font-size:30px;
}
.education img{
  width:600px;
  height:400px;
}
#skills{
  align-content: center;
  background:linear-gradient(135deg, #000428,  #004292);
}
#skills img{
  width:120px;
  height:150px;
  margin: 20px;
  animation:slideLeft 1s ease;
}
@keyframes slideLeft{
 from{
   opacity:0;
   transform:translateX(-100px);
 }
 to{
   opacity:1;
   transform:translateX(0);
 }
}
#project{
  color:white;
  font-size:70px;
  margin-left:20px;
}
#projectname{
  font-size:30px;
  font-family: Georgia,Sans-Serif;
  border: 5px groove grey;
  padding: 20px;
}
.projectimage{
  display:flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10px;
}
.projectimage img{
  height:200px;
  width:200px;
  padding: 20px;
  border:2px groove cyan;
}